
p{
text-align: center;
text-decoration: underline;
font-size: 30px;
color:  rgb(124, 92, 97);
}

h2{
    text-align: center;
    background-color: rgb(124, 92, 97);
    color: white;
    margin-left: 280px;
    margin-right: 280px;
    border-radius: 5px;
}