h2{
    background-color: rgb(244, 236, 236);
    text-align: center;
}

p{
    font-size: 30px;
    padding-left: 20px;
}



img{
    height: 300px;
    width: 300px;
    padding-left: 50px;
}

